<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav class="transparent z-depth-0" style="margin-bottom: 10vh;">
        {% if showBackButton %}
        <a href="/">
            <div class="col left">
                <button class="btn transparent z-depth-0">
                  <i class="material-icons">arrow_back</i>
              </button>
            </div>
        </a>
        {% endif %} {% if user%}
        <div class="col right logged-in-chip" style="margin-right: 20px;">
            <div class="chip btn transparent z-depth-2" style="margin-right: 1vw; margin-top: 4vh;">
                <img src="/assets/images/yuna.jpg" alt="Contact Person">
                <span class="white-text">{{user}}</span>
            </div>
            <div class="chip btn transparent z-depth-2" style="margin-top: 4vh;">
                <span class="white-text"><a href='/logout'>Sign out</a></span>
            </div>
            {% else %}
            <div class="row login-button">
                <div class="col right" style="margin-right: 5vw;">
                    <a class="waves-effect z-depth-3 transparent push-s1 waves-light btn-large right" href="/login" style="margin-top: 4vh;">Login/SignUp</a>
                </div>
            </div>
            {% endif %}

        </div>
    </nav>

    <!--Main Content-->
    {% block content %} {% endblock %}

    <!-- Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script>
        var error = "{{error}}"
        if (error) {
            Materialize.toast(error, 5000);
        }
    </script>
</body>

</html>
