{% extends "base_login.html" %} {% block content %}

<div class="login content-background" style="margin-top: 15vh;">
    <div class="heading">
        <h2>Sign in</h2>
        <form method="post" id="signin">

            <div class="input-group input-group-lg" style="padding-top: 5vh;">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="" required>
            </div>

            <div class="input-group input-group-lg" style="padding-top: 3vh; margin-bottom: 5vh;">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Password" value="" required>
            </div>
            <span class="login-redirect">Not Registered? <a href="/signup">click here</a></span>

            <button type="button" onclick="validate_signin()" class="float" style="margin-top:40px;">Login</button>
        </form>
    </div>
</div>

{% endblock %}
